/* <!-- -----------nav-bar section------------- --> */

.navbar {

    height: 50px;
    background-color: #95BDFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;

}

h1 {
    color: white;
    font-size: 50px;
}

.cities {
    list-style: none;
    display: flex;
}

.cities a {
    margin: 30px 30px;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

/* <!-- -----------city and tem selector section------------- --> */

.city-temselector {
    width: 1080px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    border-bottom: 4px solid black;
    border-radius: 3%;
}

.city-temselector p {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.city-temselector label {
    font-size: 20px;
    margin-right: 5px;
}

.city-temselector select {
    width: 50px;
    height: 30px;
    border-radius: 15%;
    border: 2px solid black;
}


/* <!-- -----------weather report selector section------------- --> */

.weathercard {
    width: 1080px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    border-radius: 3%;
}

.days {
    width: 220px;
    height: 450px;
    background-color: rgb(229, 226, 226);
    margin: 10px;
    text-align: center;
}

.day {
    font-size: 30px;
    margin: 25px auto;
}

img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 10px auto;
}

.rangetemperature {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
}

.condition {
    font-size: 20px;
    font-family: sans-serif;
}

.hightem,
.lowtem {
    font-size: 30px;
    font-weight: bolder;
    font-family: sans-serif;
}

.hightem {
    color: rgb(198, 1, 1);
}

.lowtem {
    color: rgb(4, 4, 220);
}


/* <!-- -----------cookies section------------- --> */

.cookies {
    width: 1080px;
    height: fit-content;
    display: flex;
    border: 3px solid black;
    background-color: rgb(238, 238, 238);
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 5px;
    position: fixed;
    bottom: 2%;
    left: 20%;
}

.cookiesphoto img {
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cookiesphoto,
.button {
    flex: 1;
    padding: 0 auto;

}

.description {
    flex: 4;
    font-size: 20px;
    font-family: sans-serif;
    margin: 0 20px;
}

.button button {
    width: 120px;
    height: 40px;
    background-color: #95BDFF;
    box-shadow: 3px 5px 3px 2px black;
    font-size: 20px;
    border: 3px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/* <!-- -----------more featurn------------- --> */

a:hover,
button:hover {
    color: rgb(183, 121, 241);
    font-weight: bold;
}